.container {
    text-align: center;
    height: 100%;
    background: linear-gradient(0deg, #633216 7%, #c46f3e 84%);
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filterHeaderContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    border-radius: 10px;
    border-top: unset;
    border-left: unset;
    margin: 20px;
    background: #cc845b;
    color: #e6f4ff;
}

.filterHeaderContainer h2 {
    font-size: 20px;
}

.filterHeader {
    margin: 0;
}

.helpText {
    color: #e6f4ff;
    background: #c46f3e;
    border: 2px #e7e300 dashed;
    border-radius: 20px;
    padding: 4px 8px;
    margin: 0 72px;
    animation-name: slowlyShow;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
}

.hide {
    visibility: hidden;
    padding: 4px 8px;
    background: #c46f3e;
    margin: 0 72px;
    animation-name: slowlyHide;
    animation-duration: 1s;
    animation-timing-function: linear;
    color: #e6f4ff;
    border: 2px #e7e300 dashed;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 20px;
    top: 8px;
}

.filterBtnContainer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    margin: 16px 80px;
}

.filterBtnContainer:first-child {
    margin-top: 8px;
}

.label {
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: #e7fffa;
    font-size: inherit;
    font-family: inherit;
}

.labelActive {
    background-color: #4960e2;
    color: #e6f4ff;
}

.pickAll {
    width: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 8px 120px;
    padding: 8px 20px;
}

.emojiGroup {
    font-size: xx-large;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: #633216;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.footerContent {
    border-bottom: 1px black solid;
}

.footer a:link,
.footer a:visited {
    color: #e6f4ff;
    text-decoration: none;
}
.footer a:hover {
    font-style: italic;
    color: #e6f4ff;
    border-bottom: 1px #e6f4ff solid;
}

@keyframes slowlyShow {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    80% {
        visibility: visible;
        opacity: 0.5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes slowlyHide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    1% {
        visibility: visible;
        opacity: 0.99;
    }
    80% {
        visibility: visible;
        opacity: 0.2;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
