html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leaflet-popup-content-wrapper {
    background-color: #373126;
    color: black;
}

.leaflet-popup-content {
    background-color: #e4d5bc;
    padding: 2px 8px 8px 8px;
    border-radius: 4px;
    width: 301px !important;
}

.leaflet-popup-tip {
    background-color: #e4d5bc;
}

.grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
}

.form {
    text-align: center;
    height: 100%;
    background-color: #633216;
    overflow-y: auto;
    overflow-x: hidden;
}

.pick-all {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 8px 120px;
}

.filter-header {
    color: #e7fffa;
    margin: 0 0 8px 0;
}

.emoji-group {
    font-size: xx-large;
}

.label {
    display: block;
    border: 4px solid black;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e7fffa;
}

.label-inline-block {
    display: inline-block;
    background-color: #633216;
}

.label-active {
    background-color: #4960e2;
    color: #e7fffa;
}

.filter-btn-container:first-child {
    margin-top: 8px;
}

.filter-btn-container {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    margin: 16px 80px;
}

.hide {
    visibility: hidden;
    padding: 4px 8px;
    background-color: #633216;
    margin: 0 72px;
    animation-name: slowlyHide;
    animation-duration: 1s;
    animation-timing-function: linear;
    color: #e7fffa;
    border: 2px #e7e300 dashed;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 20px;
    top: 8px;
}

.help-text {
    color: #e7fffa;
    background-color: #633216;
    border: 2px #e7e300 dashed;
    border-radius: 20px;
    padding: 4px 8px;
    margin: 0 72px;
    animation-name: slowlyShow;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
}

#link-to-episode:link,
#link-to-episode:visited {
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;

    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    background-color: #633216;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-content {
    border-bottom: 1px black solid;
}

.footer a:link,
.footer a:visited {
    color: #888683;
    text-decoration: none;
}
.footer a:hover {
    font-style: italic;
    color: white;
    border-bottom: 1px white solid;
}

@keyframes slowlyShow {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    80% {
        visibility: visible;
        opacity: 0.5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes slowlyHide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    1% {
        visibility: visible;
        opacity: 0.99;
    }
    80% {
        visibility: visible;
        opacity: 0.2;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

#root {
    height: inherit;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.flipped {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
